# Created by .ignore support plugin (hsz.mobi)
/plugins/*
/node_modules/*
!/plugins/fetch.json
/platforms
/hooks
/bower_components
/.idea
/c1f24ddd-cf71-48fa-82bf-7487f6a5d764.ico
/bcmobile.zip
/zip.sh
/*.cmd
/(SRC)
/(DIST)
/prepare-ios.sh
