<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lavasoftworks.bardcanvasmobile" version="1.1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>BardCanvas</name>
    <description>
        BardCanvas CMS client for mobile devices
    </description>
    <author email="info@lavasoftworks.com" href="http://www.lavasoftworks.com">
        Luz Marquez/Alejandro Caballero, LAVA SoftWorks
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="26" />
    <preference name="android-build-tool" value="gradle" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="true" />
    <platform name="android">
        <icon density="ldpi" src="package-assets/icon/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="package-assets/icon/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="package-assets/icon/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="package-assets/icon/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="package-assets/icon/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="package-assets/icon/android/drawable-xxxhdpi-icon.png" />
        <splash density="land-ldpi" src="package-assets/screen/android/drawable-land-ldpi-screen.png" />
        <splash density="land-mdpi" src="package-assets/screen/android/drawable-land-mdpi-screen.png" />
        <splash density="land-hdpi" src="package-assets/screen/android/drawable-land-hdpi-screen.png" />
        <splash density="land-xhdpi" src="package-assets/screen/android/drawable-land-xhdpi-screen.png" />
        <splash density="land-xxhdpi" src="package-assets/screen/android/drawable-land-xxhdpi-screen.png" />
        <splash density="land-xxxhdpi" src="package-assets/screen/android/drawable-land-xxxhdpi-screen.png" />
        <splash density="port-ldpi" src="package-assets/screen/android/drawable-port-ldpi-screen.png" />
        <splash density="port-mdpi" src="package-assets/screen/android/drawable-port-mdpi-screen.png" />
        <splash density="port-hdpi" src="package-assets/screen/android/drawable-port-hdpi-screen.png" />
        <splash density="port-xhdpi" src="package-assets/screen/android/drawable-port-xhdpi-screen.png" />
        <splash density="port-xxhdpi" src="package-assets/screen/android/drawable-port-xxhdpi-screen.png" />
        <splash density="port-xxxhdpi" src="package-assets/screen/android/drawable-port-xxxhdpi-screen.png" />
    </platform>
    <platform name="ios">
        <icon height="57" platform="ios" src="package-assets/icon/ios/icon.png" width="57" />
        <icon height="114" platform="ios" src="package-assets/icon/ios/icon@2x.png" width="114" />
        <icon height="20" platform="ios" src="package-assets/icon/ios/icon-20.png" width="20" />
        <icon height="40" platform="ios" src="package-assets/icon/ios/icon-40.png" width="40" />
        <icon height="80" platform="ios" src="package-assets/icon/ios/icon-40@2x.png" width="80" />
        <icon height="50" platform="ios" src="package-assets/icon/ios/icon-50.png" width="50" />
        <icon height="100" platform="ios" src="package-assets/icon/ios/icon-50@2x.png" width="100" />
        <icon height="60" platform="ios" src="package-assets/icon/ios/icon-60.png" width="60" />
        <icon height="120" platform="ios" src="package-assets/icon/ios/icon-60@2x.png" width="120" />
        <icon height="180" platform="ios" src="package-assets/icon/ios/icon-60@3x.png" width="180" />
        <icon height="72" platform="ios" src="package-assets/icon/ios/icon-72.png" width="72" />
        <icon height="144" platform="ios" src="package-assets/icon/ios/icon-72@2x.png" width="144" />
        <icon height="76" platform="ios" src="package-assets/icon/ios/icon-76.png" width="76" />
        <icon height="152" platform="ios" src="package-assets/icon/ios/icon-76@2x.png" width="152" />
        <icon height="29" platform="ios" src="package-assets/icon/ios/icon-small.png" width="29" />
        <icon height="58" platform="ios" src="package-assets/icon/ios/icon-small@2x.png" width="58" />
        <icon height="87" platform="ios" src="package-assets/icon/ios/icon-small@3x.png" width="87" />
        <icon height="167" platform="ios" src="package-assets/icon/ios/icon-83.5@2x.png" width="167" />
        <icon height="1024" platform="ios" src="package-assets/icon/ios/icon-1024.png" width="1024" />
        <splash height="1136" platform="ios" src="package-assets/screen/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" platform="ios" src="package-assets/screen/ios/Default-667h.png" width="750" />
        <splash height="2208" platform="ios" src="package-assets/screen/ios/Default-736h.png" width="1242" />
        <splash height="1242" platform="ios" src="package-assets/screen/ios/Default-Landscape-736h.png" width="2208" />
        <splash height="1536" platform="ios" src="package-assets/screen/ios/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="768" platform="ios" src="package-assets/screen/ios/Default-Landscape~ipad.png" width="1024" />
        <splash height="2048" platform="ios" src="package-assets/screen/ios/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="1024" platform="ios" src="package-assets/screen/ios/Default-Portrait~ipad.png" width="768" />
        <splash height="960" platform="ios" src="package-assets/screen/ios/Default@2x~iphone.png" width="640" />
        <splash height="480" platform="ios" src="package-assets/screen/ios/Default~iphone.png" width="320" />
        <splash height="2436" platform="ios" src="package-assets/screen/ios/Default-iphonex-portrait.png" width="1125" />
        <splash height="1125" platform="ios" src="package-assets/screen/ios/Default-iphonex-landscape.png" width="2436" />
        <splash src="package-assets/screen/ios-new/Default@2x~ipad~comany.png" />
        <splash src="package-assets/screen/ios-new/Default@2x~ipad~anyany.png" />
        <splash src="package-assets/screen/ios-new/Default@2x~iphone~comany.png" />
        <splash src="package-assets/screen/ios-new/Default@2x~iphone~comcom.png" />
        <splash src="package-assets/screen/ios-new/Default@2x~iphone~anyany.png" />
        <splash src="package-assets/screen/ios-new/Default@3x~iphone~comany.png" />
        <splash src="package-assets/screen/ios-new/Default@3x~iphone~anycom.png" />
        <splash src="package-assets/screen/ios-new/Default@3x~iphone~anyany.png" />
        <splash src="package-assets/screen/ios-new/Default@2x~universal~anyany.png" />
    </platform>
    <access origin="*" />
    <platform name="android">
        <access origin="cdvfile://*" />
    </platform>
    <allow-navigation href="http://*" />
    <allow-navigation href="https://*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />
    <allow-navigation href="about:*" />
    <allow-navigation href="tel:*" />
    <allow-navigation href="gap:*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="android">
        <plugin name="cordova-android-support-gradle-release" spec="~1.4.4">
            <variable name="ANDROID_SUPPORT_VERSION" value="26.0.0" />
        </plugin>
    </platform>
    <engine name="android" spec="~6.2.3" />
    <engine name="ios" spec="^4.5.5" />
    <plugin name="cordova-plugin-backbutton" spec="git+https://github.com/mohamed-salah/phonegap-backbutton-plugin.git" />
    <plugin name="cordova-plugin-camera" spec="^4.0.3" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.1" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.2" />
    <plugin name="cordova-plugin-x-socialsharing" spec="git+https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin.git" />
    <plugin name="phonegap-plugin-barcodescanner" spec="^8.0.0" />
    <plugin name="cordova-android-support-gradle-release" />
</widget>
