
* { box-sizing: border-box; }

.aligncenter { text-align: center; }
.alignleft   { text-align: left; }
.alignright  { text-align: right; }

.bc-loader-container {
    position: fixed; top: 0; left: 0; right: 0; bottom: 0; line-height: 100vh; text-align: center;
}

.bc-loader-content {
    display: inline-block; line-height: normal; vertical-align: middle;
}

.bc-loader-progress-group .bc-progress-icon     { width: 256px; height: 256px; padding: 25px; border: 6px solid silver;
                                                  border-radius: 100%; background-color: white; }
.bc-loader-progress-group .bc-progress-icon img { width: 200px; height: 200px; margin-top: 5px; }
.bc-loader-progress-group .bc-progress-bar      { position: absolute; z-index: 1; }

.bc-full-width { width: 100%; }
body[data-orientation="landscape"] .bc-landscape-max-50 { max-width: 50%; }

.bc-pseudolink { cursor: pointer; }

.bc-preloader-biggest  { width: 128px; height: 128px; }
.bc-preloader-bigger   { width:  64px; height:  64px; }
.bc-preloader-big      { width:  32px; height:  32px; }
.bc-preloader-small    { width:  24px; height:  24px; }
.bc-preloader-smaller  { width:  16px; height:  16px; }
.bc-preloader-smallest { width:   8px; height:   8px; }

.bc-no-margin { margin: 0; }

.bc-nested-views-container .page-content { padding-top: 0 !important; padding-bottom: 0 !important; }

.bc-inapp-browser { width: 100%; height: 100%; margin: 0; border: 0; }

.inline-block { display: inline-block; }

.bc-website-icon          { height: 1.4em; vertical-align: middle; }
html.ios .bc-website-icon { height: 1.3em; margin-right: 4px; }

/* BC imports: Framed content */

.framed_content          { border: 2px solid silver; background-color: white; color: black; }
html.ios .framed_content { border-radius: 5px; }

.framed_content.state_disabled  { background-color: silver;  border-color: gray;    color: #585858; }
.framed_content.state_warning   { background-color: #fff1a0; border-color: #FF8000; color: black;   }
.framed_content.state_ko        { background-color: #EDCCC9; border-color: #bc4c40; color: black;   }
.framed_content.state_ok        { background-color: #C0FFC0; border-color: #008000; color: black;   }
.framed_content.state_highlight { background-color: #fff1a0; border-color: #FF8000; color: black;   }
.framed_content.state_active    { background-color: #BBDDFF; border-color: #42A0FF; color: black;   }
.framed_content.state_hover     { background-color: #42A0FF; border-color: #000080; color: white;   }

.framed_content:not([class*="content-"]) { padding: 5px; }

.framed_content.state_hover:hover { background-color: #42A0FF; border-color: #000080; color: white;   }

.state_disabled img.gray_on_disabled { filter: grayscale(100%); opacity: 0.75; -webkit-filter: grayscale(100%); }

/* BC imports: Multiple columns (mangled) */

.multicol      { display: flex; flex-wrap: wrap; justify-content: center; padding: 5px 0 0 5px; }
.multicol .col { padding: 0 5px 5px 0; }

.multicol.cols-2 .col { width: 50%; }
.multicol.cols-3 .col { width: 33.333333333333336%; }

.bc-smart-cols      { display: flex; flex-wrap: wrap; justify-content: center; padding: 5px 0 0 5px; }
.bc-smart-cols .col { padding: 0 5px 5px 0; }
@media all and ( max-width: 9999px ) { .bc-smart-cols .col { width: 10%; } }                 /* 10 cols */
@media all and ( max-width: 1366px ) { .bc-smart-cols .col { width: 12.5%; } }               /*  8 cols */
@media all and ( max-width: 1280px ) { .bc-smart-cols .col { width: 14.28571428571429%; } }  /*  7 cols */
@media all and ( max-width: 1024px ) { .bc-smart-cols .col { width: 16.66666666666667%; } }  /*  6 cols */
@media all and ( max-width:  768px ) { .bc-smart-cols .col { width: 20%; } }                 /*  5 cols */
@media all and ( max-width:  640px ) { .bc-smart-cols .col { width: 25% } }                  /*  4 cols */
@media all and ( max-width:  480px ) { .bc-smart-cols .col { width: 33.333333333333336%; } } /*  3 cols */
@media all and ( max-width:  320px ) { .bc-smart-cols .col { width: 50%; } }                 /*  2 cols */

/* BC imports: other */

.expandible_textarea {
    overflow-x: auto; overflow-y: hidden; -moz-box-sizing: border-box; resize: none;
    height: 1em; width: 100%;
}

/* F7 overrides */

.content-block-inner    { margin-left: 0 !important; }
a.open-panel            { color: inherit; }

.toolbar-inner .icon    { font-size: 25px; width: 25px; text-align: center; }
html.android .toolbar-inner .icon { width: auto; }

.item-media .fa         { font-size: 25px; width: 25px; text-align: center; }
.item-media img.icon    { height: 29px; }

.toolbar-inner .tab-link img.icon        { height: 25px; -webkit-filter: grayscale(100%); filter: grayscale(100%); }
.toolbar-inner .tab-link.active img.icon { -webkit-filter: none; filter: none; }

html.ios .toolbar-fixed .bc-nested-views-container { padding-bottom: 50px; }
.iframed-service .service-content { overflow: hidden; }

/*html.android .page { background-color: #efeff4; }*/

/* F7 extensions */

body[data-orientation="landscape"] .row .landscape-50 {
    width: 50%;
}

/* Other fixes */

html.android .bc-ios-icon     { display: none; }
html.ios     .bc-android-icon { display: none; }

.bc-input-icon             { font-size: 29px; }
.f7-icons.f7-embedded-icon { font-size: 1em; width: 1.1em; }

html.ios     .service-content .page.navbar-fixed  { padding-top:    44px; }
html.android .service-content .page.navbar-fixed  { padding-top:    56px; }
html.ios     .service-content .page.toolbar-fixed { padding-bottom: 44px; }
html.android .service-content .page.toolbar-fixed { padding-bottom: 48px; }

html.android .navbar-fixed.toolbar-fixed .page-content { padding-top: 128px; }
html.android #left-panel .navbar-fixed.toolbar-fixed .page-content { padding-top: 56px; }
html.android body[data-orientation="landscape"] .bc-nested-views-container { padding-bottom: 0 !important; }

html.ios     .smart-select-page.navbar-fixed .page-content { padding-top:  8px !important; }
html.android .smart-select-page.navbar-fixed .page-content { padding-top: 24px !important; }
html.ios     .smart-select-page .list-block { margin-top: 35px; margin-bottom: 5px; }
html.android .smart-select-page .list-block { margin-bottom: 0; }

html.android .tabbar a.link,
html.android .tabbar a.tab-link { font-size: 11px; text-transform: none; }

html.android .service-content .navbar .left.title { padding-left: 16px; }

/* Custom helpers */
.bc-image-uploader .photos { display: inline; }
.bc-image-uploader .bc-image-item {
    display: inline-block; vertical-align: top;
    width: auto; height: 100px; margin: 5px;
    background-color: whitesmoke; border: 1px solid whitesmoke;
    background-size: contain;
}
.bc-image-uploader .bc-image-item img {
    width: auto; height: 100px;
}
.bc-image-uploader .bc-selector .icon, .bc-image-uploader .bc-selector .fa {
    font-size: 32px; width: 80px; line-height: 100px;
    text-align: center; vertical-align: middle;
    color: black;
}
html.ios .bc-image-uploader .bc-image-item { border-radius: 5px; }
