
* { box-sizing: border-box; }

.aligncenter { text-align: center; }
.alignleft   { text-align: left; }
.alignright  { text-align: right; }

.bc-loader-container {
    position: fixed; top: 0; left: 0; right: 0; bottom: 0; line-height: 100vh; text-align: center;
}

.bc-loader-content {
    display: inline-block; line-height: normal; vertical-align: middle;
}

.bc-loader-progress-group .bc-progress-icon     { width: 256px; height: 256px; padding: 25px; border: 6px solid silver;
                                                  border-radius: 100%; background-color: white; }
.bc-loader-progress-group .bc-progress-icon img { width: 200px; height: 200px; margin-top: 5px; }
.bc-loader-progress-group .bc-progress-bar      { position: absolute; z-index: 1; }

.bc-full-width { width: 100%; }
body[data-orientation="landscape"] .bc-landscape-max-50 { max-width: 50%; }

.bc-pseudolink { cursor: pointer; }

.bc-preloader-biggest  { width: 128px; height: 128px; }
.bc-preloader-bigger   { width:  64px; height:  64px; }
.bc-preloader-big      { width:  32px; height:  32px; }
.bc-preloader-small    { width:  24px; height:  24px; }
.bc-preloader-smaller  { width:  16px; height:  16px; }
.bc-preloader-smallest { width:   8px; height:   8px; }

.bc-no-margin { margin: 0; }

.bc-nested-views-container .page-content { padding-top: 0 !important; padding-bottom: 0 !important; }

.bc-inapp-browser { width: 100%; height: 100%; margin: 0; border: 0; }

/* BC imports */

.framed_content          { border: 2px solid silver; background-color: white; color: black; padding: 5px; }
html.ios .framed_content { border-radius: 5px; }

.framed_content.state_disabled  { background-color: silver;  border-color: gray;    color: #585858; }
.framed_content.state_warning   { background-color: #fff1a0; border-color: #FF8000; color: black;   }
.framed_content.state_ko        { background-color: #EDCCC9; border-color: #bc4c40; color: black;   }
.framed_content.state_ok        { background-color: #C0FFC0; border-color: #008000; color: black;   }
.framed_content.state_highlight { background-color: #fff1a0; border-color: #FF8000; color: black;   }
.framed_content.state_active    { background-color: #BBDDFF; border-color: #42A0FF; color: black;   }
.framed_content.state_hover     { background-color: #42A0FF; border-color: #000080; color: white;   }

.framed_content.state_hover:hover { background-color: #42A0FF; border-color: #000080; color: white;   }

/* F7 overrides */

.content-block-inner    { margin-left: 0 !important; }
a.open-panel            { color: inherit; }
.toolbar-inner .icon    { font-size: 25px; width: 25px; text-align: center; }
.item-media .fa         { font-size: 25px; width: 25px; text-align: center; }
.item-media img.icon    { height: 29px; }

.toolbar-inner .tab-link img.icon        { height: 25px; -webkit-filter: grayscale(100%); filter: grayscale(100%); }
.toolbar-inner .tab-link.active img.icon { -webkit-filter: none; filter: none; }

/*html.android .page { background-color: #efeff4; }*/

/* F7 extensions */

body[data-orientation="landscape"] .row .landscape-50 {
    width: 50%;
}

/* Other fixes */

html.android .bc-ios-icon     { display: none; }
html.ios     .bc-android-icon { display: none; }

.bc-input-icon { font-size: 29px; }

html.ios     .service-content .page.toolbar-fixed { padding-bottom: 44px; }
html.android .service-content .page.toolbar-fixed { padding-bottom: 48px; }
